<!--The content below is only a placeholder and can be replaced.-->

<mat-horizontal-stepper linear="false">
  <mat-step [stepControl]="ageFG">
    <ng-template matStepLabel>Choose your age</ng-template>
    <br>
    <form [formGroup]="ageFG">
      <mat-slider thumbLabel formControlName="ageSlCtl" min="10" max="100" step="1" value="-1" style="width: 100%" #ageSl></mat-slider>
    </form>
    <div>
      <button mat-button matStepperNext (click)="updateAge(ageSl.value)">Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Select emotions</ng-template>
    <mat-card *ngFor="let domain of emotions">
      <mat-radio-group>
        <span *ngFor="let emotion of domain">
          <mat-radio-button [value]="emotion.id" (click)="openEmoDensDio(emotion)">
            {{emotion.en_name}}
          </mat-radio-button>
          <br>
        </span>
      </mat-radio-group>
    </mat-card>
  </mat-step>
  <!--<mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
-->
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button>Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>